* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
  position: relative;
  width: 100%;
  height: 100vh;
}


  .slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;

  }

  .big-slide {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;

  }

  .container {
     position: absolute;
     top: 0px;
     right: 0px;
     width: 30%;
     height: 30%;
     z-index: 999;
  }

  .slide {
    width: 100%;
    height: 100%;
    position: relative;
    
  }

  .overlay {
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0px;
     height: 100%;
     z-index: 2;
     background: rgba(39,62,84,0.82);
 
  }

  .hidden, .big-image {
    display: none;
  }


  .current {
    border: 5px solid yellow;
   
  }

  .current-image {
    display: block;
  }


  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .big-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  
  .btn {
    position: absolute;
    width: 25px;
    height: 25px;
    padding: 0px 5px;
    border: none;
    border-radius: 50%;
    z-index:999;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
  }
  
  .btn:active {
    transform: scale(1.1);
  }

  .btn:hover {
    background-color: lightgray;
    cursor: pointer;
  }
  
  .btn-prev {
    bottom: 0%;
    right: 12%;
  }
  
  .btn-next {
    top: 0%;
    right: 12%;
  
  } 





  